form.pizzaForm {
  display: flex;
  flex-wrap: wrap;

  .form-field {
    display: flex;
    flex-wrap: wrap;
    flex-basis: percentage(1/3);
    padding: 20px 10px;
    color: $color-grey;
    font-family: "AR CENA";
    font-size: 20px;

    label {
      flex-basis: 40%;

      .red-star {
        color: $color-red-primary;
      }
    }

    p {
      flex-basis: 60%;
      color: $color-red-primary;
      text-align: end;
      padding-right: 10px;
      font-size: 18px;
    }

    input {
      flex-basis: 100%;
      height: 25px;
      padding: 5px 15px;
      border: 1px solid $color-grey-primary;
      border-radius: 4px;
    }
  }
}