*, :after, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}

.isSelected {
  border: 1px solid $color-grey;
  background-color: $color-grey-primary;
  padding: 7px;
  border-radius: 60px;
}

.isSelectedHl {
  color: $color-green-primary;
}

.isSelectedTopping {
  color: $color-green-primary!important;
}

.warn-title{
  width: 100%;
  color: $color-red-primary;
  padding-bottom: 15px;
}