footer {
  background-color: $color-red-dark;
  padding: 25px;
  color: $color-grey;

  .footer-link {
    li {
      list-style: none;
      padding: 4px 0;

      a {
        text-decoration: none;
        color: $color-grey;
        transition: .3s;
        &:hover {
          color: $color-grey-primary;
        }
      }
    }
  }

  .copy-social {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .footer-social {
      i {
        font-size: 20px;
        transition: .3s;
        &:hover {
          transition: .3s;
          transform: scale(2);
        }
      }
    }
    .copyright {
      align-self: flex-end;
    }
  }
}