footer {
  background-color: $color-red-dark;
  padding: 25px;
  color: $color-grey;

  .footer-link {
    li {
      list-style: none;
      padding: 4px 0;

      a {
        text-decoration: none;
        color: $color-grey;
        transition: .3s;
        &:hover {
          color: $color-grey-primary;
        }
      }
    }
  }
  .copyright {
    align-self: flex-end;
  }
}