h2.hl {
  padding: 25px 0;
  color: $color-grey;
  font-family: sans-serif;
  font-family: "Sitka Heading";
  font-weight: 300;
  width: 100%;
}

.tippings-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .tipping {
    display: flex;
    align-items: center;
    flex-basis: 26%;
    font-size: 18px;
    margin: 10px 0;

    input {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    span {
      font-family: "AR CENA";
      //display: flex;
      //justify-content: center;
      //border: 1px solid $color-grey-primary;;
      //padding: 8px;
      color: $color-black;
      transition: .4s;
      //cursor: pointer;

    }
  }
}