//colors

$color-white: #ffffff;
$color-black: #000000;
$color-grey-primary: #d7d7e7;
$color-grey: #909090;
$color-red-primary: #d61f26;
$color-yellow: #ffe28f;
$color-brown: #d9ba93;
$color-green-primary: #97C747